	.main {
		background-image: url(assets/imgs/case_tarzania-bg.webp);
	}

	@media screen and (max-width: 769px) {
		.main {
			background-image: url(assets/imgs/case_tarzania-bg_mobile.webp);
		}
	}

	.top-line {
		width: 100% !important;
		margin-bottom: 60px;
		margin-top: 60px;
	}

	@media screen and (max-width: 1281px) {
		.top-line {
			margin-bottom: 40px;
			margin-top: 40px;
		}
	}

	@media screen and (max-width: 1281px) {
		.top-line {
			margin-bottom: 24px;
			margin-top: 24px;
		}
	}

	.top_big-line {
		width: 100% !important;
		margin-bottom: 120px;
		margin-top: 120px;
	}

	@media screen and (max-width: 1281px) {
		.top_big-line {
			margin-bottom: 90px;
			margin-top: 90px;
			height: 20px;
		}
	}

	@media screen and (max-width: 769px) {
		.top_big-line {
			margin-bottom: 40px;
			margin-top: 40px;
			height: 8px;
		}
	}

	.double-imgBlock1 {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	.double-imgBlock1 img {
		width: 764px;
		height: 650px !important;
	}

	@media screen and (max-width: 1281px) {
		.double-imgBlock1 img {
			width: 569px;
			height: 466px !important;
		}
	}

	@media screen and (max-width: 768px) {
		.double-imgBlock1 img {
			width: 100%;
			height: 270px !important;
		}
	}

	.next-project .project-block {
		background-image: url(assets/imgs/case_tarzaniya_elfortBg.webp);
	}

	.next-project .project-block .overlay-block {
		width: 100%;
		height: 100%;
		background: #00000066;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.next-project .project-block .overlay-block br {
		display: block;
	}

	@media screen and (max-width: 768px) {
		.next-project .project-block {
			background-image: url(assets/imgs/case_tarzaniya_elfortBg-mobile.webp);
		}

		.next-project .project-block {
			padding: 0;
		}


	}

	.title-block1 {
		margin-bottom: 80px !important;

	}

	/*  */

	@media screen and (max-width: 1281px) {
		.title-block1 {
			margin-bottom: 60px !important;
		}
	}

	@media screen and (max-width: 768px) {
		.title-block1 {
			margin-bottom: 30px !important;
		}

		.toMobileGap {
			gap: 50px !important;
			margin-bottom: 30px !important;
		}
	}



	.analitika-site .img-block .block {
		display: grid;
		grid-template-columns: 1fr 720px;
	}

	.toDecktopM {
		margin-bottom: 80px;
	}

	.ending-title_block {
		margin-bottom: 80px !important;
		gap: 335px !important;
	}

	@media screen and (max-width: 1300px) {
		.toDecktopM {
			margin-bottom: 60px;
		}

		.ending-title_block {
			margin-bottom: 60px !important;
			gap: 123px !important;
		}
	}

	@media screen and (max-width: 769px) {
		.analitika-site .img-block .block {
			display: flex;
			flex-direction: column;
		}

		.mobileM0 {
			margin-bottom: 0 !important;
		}

		.toDecktopM {
			margin-bottom: 30px;
		}

		.ending-title_block {
			margin-bottom: 32px !important;
			gap: 24px !important;
		}

		.mobileEditing {
			margin-left: -15px;
			margin-top: 16px;
		}
	}

	@media screen and (max-width: 769px) {
		.mobileMarginEditedText {
			margin-bottom: 16px !important;
		}
	}

	.detail-tabe .block {
		display: grid;
		grid-template-columns: 1fr 763px;
	}

	.analitika-site .img-block .block {
		display: grid;
		grid-template-columns: 1fr 735px;
	}

	@media screen and (max-width: 1280px) {
		.detail-tabe .block {
			grid-template-columns: 1fr 569px;
		}

		.analitika-site .img-block .block {
			grid-template-columns: 1fr 569px;
		}

	}

	@media screen and (max-width: 768px) {
		.detail-tabe .block {
			grid-template-columns: 1fr 220px;
		}

		.analitika-site .img-block .block {
			display: flex;
			flex-direction: column;
		}

	}





	.analitika-site .img-block img.mobile-img {
		display: none;
	}

	@media screen and (max-width: 769px) {
		.analitika-site .img-block img.mobile-img {
			display: block;
		}

		.analitika-site .img-block .mobile-img~img {
			display: none;
		}

		.analitika-site .img-block img {
			display: block;
		}
	}