.main {
		background-image: url(assets/imgs/caseView-webmotorsHeroBg.webp);
	}

	@media screen and (max-width: 769px) {
		.main {
			background-image: url(assets/imgs/caseView-webmotorsHeroBg_mobile.webp);
		}
	}

	.top-line {
		width: 100% !important;
		margin-bottom: 60px;
		margin-top: 60px;
	}

	@media screen and (max-width: 1281px) {
		.top-line {
			margin-bottom: 40px;
			margin-top: 40px;
		}
	}

	@media screen and (max-width: 1281px) {
		.top-line {
			margin-bottom: 24px;
			margin-top: 24px;
		}
	}

	.double-imgBlock1 {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	.double-imgBlock1 img {
		width: 791px;
		height: 650px !important;
	}

	@media screen and (max-width: 1281px) {
		.double-imgBlock1 img {
			width: 569px;
			height: 466px !important;
		}
	}

	@media screen and (max-width: 768px) {
		.double-imgBlock1 img {
			width: 100%;
			height: 270px !important;
		}
	}

	.next-project .project-block {
		background-image: url(assets/imgs/case_westmotors_erol-img.webp);
	}

	@media screen and (max-width: 768px) {
		.next-project .project-block {
			background-image: url(assets/imgs/case_westmotors_erol-imgMobile.webp);
		}
	}

	.analitika-site .title-block {
		display: flex;
		align-items: start;
		gap: 270px;
		margin-bottom: 120px;
	}

	@media screen and (max-width: 1281px) {
		.analitika-site .title-block {
			margin-bottom: 90px;
			gap: 123px;
		}
	}

	@media screen and (max-width: 769px) {
		.analitika-site .title-block {
			margin-bottom: 50px;
			flex-direction: column;
			gap: 24px;
		}
	}

	.analitika-site .img-block img.mobile-img {
		display: none;
	}

	@media screen and (max-width: 769px) {
		.analitika-site .img-block img.mobile-img {
			display: block;
		}

		.analitika-site .img-block .mobile-img~img {
			display: none;
		}

		.analitika-site .img-block img {
			display: block;
		}
	}